@model Milk.Web.ViewModels.MilkEntryWrapperViewModel
@{
    ViewData["Title"] = "Index";
}
<button type="button" class="col-md-2" onclick="location.href='@Url.Action("Index","Home")'">Back</button>
<div class="row">
    <h1 class="col-md-4">Index</h1>
    <button type="button" class="col-md-4" onclick="location.href='@Url.Action("Add","milkentry")'">Add New Milk Entry</button>
</div>

<div id="indexPartialContent">
    <table class="table table-hover">
        <thead>
            <tr>
                <th width="20%">Name</th>
                <th width="20%">Milk</th>
                <th width="20%">FAT</th>
                <th width="20%">SNF</th>
                <th width="20%">Date</th>
                <th width="20%" class="text-center">Manage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var milkentry in Model.MilkEntryList)
            {
            <tr>
                <td>@milkentry.Name</td>
                <td>@milkentry.Milk</td>
                <td>@milkentry.FAT</td>
                <td>@milkentry.SNF</td>
                <td>@milkentry.Date</td>
                <td class="text-center">
                    <span title="Edit" class="cursor-pointer" onclick="redirectToEdit('/MilkEntry/edit/@milkentry.Id')"><i class="fa fa-pencil ml-3" aria-hidden="true"></i></span>
                    <span title="Remove" class="cursor-pointer" onclick="OpenDeleteConfirmBox('@milkentry.Id')"><i class="fa fa-trash ml-3" aria-hidden="true"></i></span>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<partial name="_deletePopup" />

